!offwhite = #F0F0F0
!light_green = #BFFFBF
!red = #C00
!light_gray = #F7F7F7
!medium_gray = #999
!gray = #666
!dark_gray = #333

body
  :margin 0
  :font-family tahoma, sans-serif
  :background = !gray
  :text-align center

h1
  :font-family georgia, serif
  :font-size 38px

h2
  :font-family georgia, serif
  :font-size 28px
  :text-align center
  :margin 0 0 20px 0
  :color = !red

h3
  :font-family georgia, serif
  :margin 6px 0
  :font-size 18px

  span
    :font-size 10px
    :color = !gray

a
  :font-weight bold
  :text-decoration none
  :color = !red

  &:link, &:visited, &:hover, &:active
    :color = !red

  &:hover
    :text-decoration underline

  img
    :border none

br
  :clear both

#content
  :width 800px
  :margin 0 auto
  :text-align left
  :background white

#logo
  :float left
  :background url(/images/logo.png)
  :width 274px
  :height 290px

#ey_logo, #bc_logo
  :margin 25px auto
  :text-align center

#header
  :float  right
  :width 526px
  :height 97px
  :background url(/images/header.png)
  :position relative

  h1
    :display none

#menu
  :float right
  :width 526px
  :margin 0
  :padding 0
  :height 25px
  :background url(/images/bg_menu.gif) repeat-x
  :text-align right

  li
    :display inline
    :padding 0 16px

    a
      :font-size 12px
      :font-weight bold
      :color white

#submenu
  :float right
  :width 526px
  :height 12px
  :background url(/images/bg_submenu.gif) top left repeat-x

p#notices
  :float right
  :width 490px
  :background-color = !light_green
  :border = 3px solid !medium_gray
  :margin 10px 10px 10px 0
  :padding 4px
  :text-align center
  :font-weight bold
  :font-size 12px
  :color = !dark_gray

#inner_content
  :float right
  :width 515px
  :padding-right 10px
  :color = !dark_gray
  :font-size 16px

  p
    :margin 16px 0
    :display block

#panel
  :float left
  :width 230px
  :margin 10px
  :background = !light_gray
  :border = 1px solid !gray
  :padding 8px

  #sponsors
    :margin 8px 0
    :list-style none
    :padding 0
    :font-size 12px
    :text-align center

    a img
      :border none
      :padding 4px

dl.form
  dt
    :float left
    :width 110px
    :font-weight bold

  dd
    input
      :background = !light_green

    textarea
      :background = !light_green
      :width 400px
      :height 100px

dl#agenda
  dt
    :margin 0
    :padding 0
    :font-size 75%
    :font-weight bold
    :float left
    :width 60px
    :height 40px
    :text-align right
    :padding-right 5px
    :clear left

  dd
    :margin 0
    :padding 0
    :float left
    :width 450px
    :height 40px
    :font-size 14px

form
  p
    :text-align center

#footer
  :clear both
  :width 780px
  :background = !medium_gray
  :padding 10px
  :margin 0 auto
  :text-align center
  :font-size 12px
  :font-weight bold
  :color = !light_gray

  a
    :color = !light_gray

.duration
  :font-size 90%
  :font-weight bold
