%h2 Friday

%p
  Tutorial Session &mdash;
  %em details coming soon

%h2 Saturday

%dl#agenda
  %dt 8:30am
  %dd Registration begins

  %dt 9:00am
  %dd Welcome

  %dt 9:10am
  %dd Benchmark Consulting

  %dt 9:15am
  %dd Personal Ruby Projects (Including Vaporware) &mdash; Hal Fulton

  %dt 10:15am
  %dd Break

  %dt 10:20am
  %dd Engine Yard

  %dt 10:25am
  %dd Ruby and the Theory of Constraints for Profit Driven Development &mdash; Richard Dusenbury

  %dt 11:25am
  %dd NeedConnect

  %dt 11:30am
  %dd Metaprogramming - A New Way to Shoot Yourself in the Foot &mdash; Brian Muller

  %dt 12:00pm
  %dd Lunch

  %dt 1:00pm
  %dd Sponsored Talk &mdash; Jeremy McAnally

  %dt 2:00pm
  %dd Break

  %dt 2:10pm
  %dd Key Ruby Idioms for Rails Developers &mdash; Andy Vanasse

  %dt 3:10pm
  %dd Break

  %dt 3:15pm
  %dd Ramaze: The Underrated Web Application Framework &mdash; Luc Castera

  %dt 4:15pm
  %dd Break

  %dt 4:20pm
  %dd Juggernaut - The Push Server &mdash; Taylor Redden

  %dt 4:50pm
  %dd Remove the Suck - On How to Become a Blissful Developer &mdash; Adam Bair and Chris Selmer

  %dt 5:20pm
  %dd Closing Remarks

  %dt 5:30pm
  %dd Dinner (not provided)

  %dt 7:30pm
  %dd RejectConf (at the Hilton Garden Inn on Harbison)
