#bc_logo= link_to image_tag('benchmark_logo.png', :alt => "Benchmark Consulting"), "http://benchmarkconsulting.com/"

%p
  Benchmark Consulting is a business process and application transformation company.
  Committed to delivering that which is revolutionary, Benchmark Consulting has created application modernization tools and methodologies that make
  legacy transformation a definable reality. Through our technology and outsourcing expertise, Benchmark Consulting has the skills and technologies
  to help clients achieve more.

%p
  Our revolutionary capability builds on our expertise in consulting, technology and outsourcing to help clients get the absolute most out of technology
  investment and create truly sustainable value for their customers and shareholders. Using our industry knowledge, service-offering expertise and
  technology capabilities, we identify new business and technology trends and deliver to our clients that which is valuable. Beyond improving technology
  capability, we help our clients:

  %ul
    %li Create new markets.
    %li Increase revenues in existing markets.
    %li Improve operational performance.
    %li Deliver their products and services more effectively and efficiently.

%p
  We have extensive delivery capabilities and work with the world's leading companies and governments. Over the years, Benchmark Consulting has development
  technology and processes that simplify what used to be complex. With application development laboratories in Montreal and Vancouver, revolutionary modernization
  tools and sound software development methodologies, we help client change and grow faster than ever before. Among the many strengths that distinguish Benchmark
  Consulting in the marketplace are our:

  %ul
    %li Extensive industry expertise.
    %li Focused service offerings.
    %li Expertise in technology outsourcing.
    %li History of technology innovation and implementation, including the revolutionary IRIS Modernization Tools
    %li Commitment to the long-term development of our employees.
    %li Proven and experienced management team.
