#ey_logo= link_to image_tag('ey_logo.png', :alt => "Engine Yard"), "http://engineyard.com/"

%p
  Rely on Engine Yard: 90 people, two data centers, and four continents.

%p
  Engine Yard came about in early 2006 because we saw a genuine need: customers were developing business-critical Rails apps, but didn't want to worry about deployment issues, nor did they want to hire IT staff to manage servers. Instead, customers wanted Rails-focused 24/7 operations support, great infrastructure, and a smooth path from one to one million users.

%p
  We handle deployment and maintenance, so you can focus on building your application and running your business. Our deep roots in the Ruby and Rails communities, combined with our commitment to driving the next generation of Ruby technologies, offer our customers the peace of mind of knowing their applications are managed by a team of true technical experts.

%p
  Engine Yard is invested in the future of Ruby and Rails communities, and is helping foster and lead development by supporting open source projects like Merb and Rubinius.
