%h2
  Welcome to the first annual
  %br
  South Carolina Ruby Conference!

%h3 October 18th in Columbia, SC

%p
  We are currently looking for sponsors and proposals.
  If you would be interested in sponsoring us, please send an email to scruby AT colaruby DOT com.
  If you are able to give a talk, please
  = link_to 'give us some information', new_proposal_path
  \.
