%h2
  Welcome to the first annual
  %br
  South Carolina Ruby Conference!

%h3
  October 18th in Columbia, SC
  %br
  Amoco Hall, University of South Carolina

%p
  We have selected the talks and have posted the
  = link_to 'agenda', agenda_path
  for the conference.  We are honored and excited
  to have Hal Fulton and Jeremy McAnally giving 
  the sponsored talks.  So,
  = link_to 'head on over and register', 'http://scrubyconf.eventbrite.com/'
  \.

%p
  Registration is only $35 and that includes the main conference, lunch, a t-shirt,
  %em and
  admission to RejectConf!  The last day for registration is October, 15th
  and space is limited so don't wait.

%p
  Cola.rb would like to thank the following sponsors,
  = link_to 'Benchmark Consulting', benchmark_path
  ,
  = link_to 'Engine Yard', engineyard_path
  , USC College of Engineering and Computing, RailsKits, O'Reilly, Pragmatic Bookshelf and Mindlash Interactive.  Without them we wouldn't be able to do this.
