%h3
  Silver Level: Minimum $250
  %span (9 slots remaining)

%ul
  %li Name in program
  %li Name on website
  %li Mention at conference
  %li Insert swag and media into conference bags

%h3
  Gold Level: $500+
  %span (4 slots remaining)

%ul
  %li Name in program
  %li Name on website
  %li Mention at conference
  %li Insert swag and media into conference bags
  %li Logo in program
  %li Logo on website
  %li Quarter page ad in conference program
  %li Access to sponsor conference components (e.g., lanyards, shirts, and so on).

%h3
  Platinum Level: $1,000+
  %span (3 slots remaining)

%ul
  %li Name in program
  %li Name on website
  %li Mention at conference
  %li Insert swag and media into conference bags
  %li Logo in program
  %li Conference passes
  %li Access to sponsor conference components (e.g., lanyards, shirts, and so on).
  %li Half page ad in conference program
  %li Company logo and description on website
  %li Logo inserted at beginning of single session video

%h3
  Diamond Level: $2,000 and beyond
  %span (1 slot remaining)

%ul
  %li Name in program
  %li Name on website
  %li Mention at conference
  %li Insert swag and media into conference bags
  %li Logo in program
  %li Conference passes
  %li Access to sponsor conference components (e.g., lanyards, shirts, and so on).
  %li Company logo and description on website
  %li Logo inserted at beginning of every session video
  %li Representative talk at conference (Max length: 5 minutes)
  %li Byline mention in all conference communications, including all e-mails, websites, program, keynote introductions, and so on
