<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <%= stylesheet_link_tag 'application' %>
	<title>SC Ruby Conference 2008</title>
</head>

<body>
	<div id="page" align="center">
		<div id="content" style="width:800px">
			<div id="logo"></div>

			<div id="topheader">
        <h1> SC Ruby Conference 2008 </h1>
			</div>

			<div id="menu">
				<div align="right" class="smallwhitetext" style="padding:9px;">
					<a href="#">Home</a> | <a href="#">Sponsor Us</a> | <a href="#">Propose a Talk</a>
				</div>
			</div>

			<div id="submenu"> </div>

			<div id="contenttext"> <%= yield %> </div>

			<div id="leftpanel">
				<div align="justify" class="graypanel">
					<span class="smalltitle">Latest News</span><br /><br />

					<span class="smallredtext">June 24, 2008</span><br />
					<span class="bodytext">Official website created.</span><br />
					<a href="#" class="smallgraytext">More...</a><br /><br />
				</div>
			</div>

			<div id="footer" class="smallgraytext">
        <a href="http://colaruby.com">ColaRuby</a> &copy; 2008
			</div>

		</div>
	</div>
</body>
</html>
